form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

button[mat-raised-button] {
  align-self: flex-end;
  padding: 0.5rem 2rem;
}