<aside class="sidebar" [class.active]="isOpen">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon>home</mat-icon>Inicio
      </a>
    </li>
    <li>
      <a routerLink="/materias" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon>list</mat-icon>Materias
      </a>
    </li>
    <li>
      <a routerLink="/mas-buscadas" routerLinkActive="active" ariaCurrentWhenActive="page">
        <mat-icon>search</mat-icon>Materias mas buscadas
      </a>
    </li>
  </ul>
</aside>